    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <app-header></app-header>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a [routerLink]="['/trainer/dashboard']" class="text-muted">Home</a></li>
                                    <li class="breadcrumb-item"><a [routerLink]="['/trainer/course/']" class="text-muted">Courses</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Add Courses</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
			</div>

			<!-- <div *ngFor="let item of cat">
				---------------------------------------
				{{item.name}}
				---------------------------------------
				<div *ngFor="let sub of item.parent_list">
					{{sub.name}}
				</div>
				----------------------------------
			</div> -->


            <div class="container-fluid">
				<div class="card">
					<!-- <div class="loader" *ngIf="isLoad"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div> -->
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<form (ngSubmit)="create($event)" method="post" enctype="multipart/form-data">
									<h3 class="form-title">Basic</h3>
									<div class="row mb-4">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label class="text-dark" for="lname">Course Title<small class="required">*</small></label>
												<input type="text" class="form-control" id="title">
											</div>
											<div class="alert alert-danger" *ngIf="titleError">
												{{titleError}}
											</div>
											<div class="form-group">
												<label class="text-dark" for="fname">Short Description</label>
												<input type="text" class="form-control" id="short_desc">
											</div>
											<div class="alert alert-danger" *ngIf="descError">
												{{descError}}
											</div>
											<div class="form-group">	
												<label class="text-dark" for="lname">Category<small class="required">*</small></label>
												<select 
													class="js-example-placeholder-single js-states form-control"
													id="sub_category_id"
													>	
														<option disabled="disabled" selected="selected" value="0">Select Category</option>
														<optgroup *ngFor='let option of cat' value="option.id" label="{{option.name}}">
															<option 
																class='sub_cat' 
																*ngFor="let sub of option.parent_list"
																[value]="sub.id"
																>
																{{sub.name}}
															</option>
													</optgroup>
												</select>
											</div>
											<div class="alert alert-danger" *ngIf="categoryError">
												{{categoryError}}
											</div>
											<input type="hidden" id="requirements" value="[]"/>
											<div class="form-group">
												<label class="text-dark" for="lname">Language made in</label>
												<select class="js-example-placeholder-single js-states form-control" id="language">
													<option disabled="disabled" selected="selected" value="0">Select Language </option>
													<option value="English">English</option>
													<option value="Hindi">Hindi</option>
												</select>
											</div>
											<div class="alert alert-danger" *ngIf="languageError">
												{{languageError}}
											</div>
											<div class="form-group">
												<label class="text-dark" for="lname">Level</label>
												<select class="js-example-placeholder-single js-states form-control" id="level">
													<option disabled="disabled" selected="selected" value="0">Select Level</option>
													<option value="Beginner">Beginner</option>
													<option value="Intermediate">Intermediate</option>
													<option value="Advance">Advance</option>
												</select>
											</div>
											<div class="alert alert-danger" *ngIf="levelError">
												{{levelError}}
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="text-dark" for="lname">Description</label>
														<ckeditor id="desc" (blur)="ckeditor_data($event)">npm</ckeditor>	
													</div>
													<div class="alert alert-danger" *ngIf="editorError">
														{{editorError}}
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- <h3 class="form-title">Requirments</h3>
									<div class="row mb-4">
										<div class="col-md-12">
											<div class="form-group">
												<label class="text-dark" for="lname">Requirments</label>
												<div class="row">
													<div class="col-md-6">
														<input type="text" class="form-control" id="title">
													</div>
													<div class="col-md-6">
														<button class="btn waves-effect waves-light btn-primary">Add</button>
													</div>
												</div>
											</div>
										</div>
									</div> -->
									<h3 class="form-title">Media</h3>
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group">
												<label class="text-dark" for="">Course overview provider</label>
												<select class="js-example-placeholder-single js-states form-control" id="course_provider" (change)="course_provider($event)">
													<option disabled="disabled" selected="selected" value="0">Select Language </option>
													<option value="Youtube">Youtube</option>
													<option value="Viemo">Viemo</option>
													<option value="HTML5">HTML5</option>
													<option value="video_upload">Video Upload</option>
												</select>
											</div>
											<input type="hidden" id="outcomes" value="[]"/>
											<div class="form-group" *ngIf="course_url === '1'">
												<label class="text-dark" for="course_url">Course overview url</label>
												<input type="text" class="form-control" id="course_url">
											</div>
											<div class="form-group" *ngIf="video_uploader === '1'">
												<label class="text-dark" for="video_upload">Upload video</label><br>
												<input type="file" class="" id="video_upload" (change)="video_upload($event)" >
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<label class="text-dark">Select Course Thumbnail</label>
											<div class="form-group browse-image">
												<label>
													<input type="file" name="image" id="thumbnail" (change)="fileProgress($event)" />
													<span>Browse Image</span>
												</label>
											<div *ngIf="fileUploadProgress">
												Upload progress: {{ fileUploadProgress }}
											</div>
											<div class="image-preview " *ngIf="previewUrl">
												<img [src]="previewUrl" />                 
											</div>
								
											<div *ngIf="uploadedFilePath">
												{{uploadedFilePath}}
											</div></div>
											
										</div>
									</div>
									<div class="row mt-4">
										<div class="col-md-12">
											<button type="Submit" class="btn waves-effect waves-light btn-primary">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>