.page-wrapper{display: block;}

.card-category img{max-height: 300px;min-height: 300px;}
.card-body h3 i{margin-right: 10px;}
.sub-cat-list{overflow-y: scroll;max-height: 350px;min-height: 350px;}
.no-sub-cat-list{max-height: 350px;min-height: 350px;text-align: center;padding-top: 40%;font-size: 18px;}

#add_new_cat{float: right;margin: 10px;border-radius: 20px;}