<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 align-self-center">
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a [routerLink]="['/trainer/dashboard']" class="text-muted">Home</a></li>
                                <li class="breadcrumb-item"><a [routerLink]="['/trainer/course/']" class="text-muted">Courses</a></li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">Add Lessons</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" enctype="multipart/form-data" (ngSubmit)="create($event)" >
                                <div class="row mb-4">
                                    <div class="col-md-6 col-sm-12">		
                                        <div class="form-group">
                                            <label class="text-dark" for="title">Title</label>
                                            <input type="text" class="form-control" id="title" placeholder="Title" />
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">	
                                            <label class="text-dark" for="section">Section</label>
                                            <select class="js-example-placeholder-single js-states form-control" id="section">	
                                                <option value="0" disabled="disabled">Select Section</option>
                                                <option *ngFor="let section of sections" value="{{section.id}}">{{section.title}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">	
                                            <label class="text-dark" for="lesson_type">Lesson Type</label>
                                            <select class="js-example-placeholder-single js-states form-control" (change)="getLessonType($event)" id="lesson_type">
                                                <option value="0" disabled="disabled">Select Lesson Type</option>
                                                <option value="video">Video URL</option>
                                                <option value="text_file">Text File</option>
                                                <option value="pdf_file">PDF File</option>
                                                <option value="document_file">Document File</option>
                                                <option value="image_file">Image File</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div 
                                        *ngIf="
                                                    lesson_type === 'text_file' ||
                                                    lesson_type === 'pdf_file' ||
                                                    lesson_type === 'document_file' ||
                                                    lesson_type === 'image_file'
                                                " 
                                        class="col-md-6 col-sm-12">
                                        <div class="">
                                            <div class="form-group">	
                                                <label class="text-dark" for="attachment">Attachment</label>
                                                <input type="file" class="form-control" id="attachment" (change)="attachment($event)" />
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="lesson_type === 'video'" class="col-md-6 col-sm-12">

                                        <div class="">
                                            <div class="form-group">	
                                                <label class="text-dark" for="lname">Lesson Provider</label>
                                                <select 
                                                        class="js-example-placeholder-single js-states form-control" 
                                                        (change)="getLessonProvider($event)"
                                                        id="lesson_provider"
                                                        >
                                                    <option value="0" disabled="disabled">Select Lesson Provider</option>
                                                    <option value="youtube">Youtube</option>
                                                    <option value="vimeo">Vimeo</option>
                                                    <option value="video_upload">Video Upload</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                        
                                    <div *ngIf="lesson_provider === 'youtube' || lesson_provider === 'vimeo'" class="col-md-12 col-sm-12 padding-0">
                                        <div class="col-md-6 col-sm-12 float-left">
                                            <div class="form-group">	
                                                <label class="text-dark" for="lname">Video url</label>
                                                <input type="text" class="form-control" id="video_url" placeholder="https://" />
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-12 float-left">
                                            <div class="form-group">	
                                                <label class="text-dark" for="lname">Video duration</label>
                                                <input type="text" class="form-control" id="video_duration" placeholder="00:10:00" />
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div *ngIf="lesson_provider === 'video_upload'" class="col-md-12 col-sm-12 padding-0">
                                        <div class="col-md-6 col-sm-12 float-left">
                                            <div class="form-group">	
                                                <label class="text-dark" for="lname">Video Upload</label>
                                                <input type="file" class="form-control" id="video_upload" (change)="video_upload($event)" />
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-12 float-left">
                                            <div class="form-group">	
                                                <label class="text-dark" for="lname">Video Duration</label>
                                                <input type="text" class="form-control"  id="video_duration" placeholder="10:00" />
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-12 float-left">
                                            <div class="form-group">	
                                                <label class="text-dark" for="lname">Video upload thumbnail (The image size should be: 979 x 551)</label>
                                                <!-- <input type="file" class="form-control" id="video_thumbnail" /> -->
                                                <div class="form-group browse-image">
                                                    <label>
                                                        <input type="file" name="image" id="video_thumbnail" (change)="fileProgress($event)" />
                                                        <span>Browse Image</span>
                                                    </label>
                                                <div *ngIf="fileUploadProgress">
                                                    Upload progress: {{ fileUploadProgress }}
                                                </div>
                                                <div class="image-preview " *ngIf="previewUrl">
                                                    <img [src]="previewUrl" />                 
                                                </div>
                                    
                                                <div *ngIf="uploadedFilePath">
                                                    {{uploadedFilePath}}
                                                </div></div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                        

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">	
                                            <label class="text-dark" for="lname">Summary</label>
                                            <textarea class="form-control" id="summary" placeholder="Summary"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
